.cardmain {
    padding: 1rem 10rem 1rem;

    .divm {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 1px solid #000000;
        border-radius: 1rem;
        background-color: #dadada34;
        padding: 0;

        .tempm {

            h4 {
                align-items: center;
                margin: 0;
                padding: 0;
            }

        }

        .tempm2 {
            display: flex;
            align-items: center;

        }

        .prehu {
            display: flex;
            align-items: center;
            flex-direction: column;

            p {
                margin: 0;
                padding: 0;
            }

            h4 {
                align-items: center;
                margin: 0;
                padding: 0;
            }
        }

        .mpas {
            display: flex;
            align-items: center;
        }

    }

}