* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.navbar{
    display: flex;
    
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    margin-top: 17rem;
    color: white;
    text-shadow: 1px 1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, -1px -1px 0 #000000, 1px 0px 0 #000000, 0px 1px 0 #000000, -1px 0px 0 #000000, 0px -2px 0 #000000;

    @media screen and (max-width: 500px) {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media screen and (max-width: 375px) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.title2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    color: white;
    text-shadow: 1px 1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, -1px -1px 0 #000000, 1px 0px 0 #000000, 0px 1px 0 #000000, -1px 0px 0 #000000, 0px -2px 0 #000000;

    @media screen and (max-width: 500px) {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media screen and (max-width: 375px) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.cloud {
    background-image: url(../image/cloud.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;

}

.clouds {
    background-image: url(../image/clouds.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;

}

.earth {
    background-image: url(../image/earth.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    padding-left: 3rem;

    @media screen and (max-width: 500px) {
        flex-direction: column;
        padding: 0;
    }

    @media screen and (max-width: 375px) {
        flex-direction: column;
        padding: 0;
    }

}

.hands {
    background-image: url(../image/hands.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;


}

.niebla {
    background-image: url(../image/niebla.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}

.landscape {
    background-image: url(../image/landscape.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;

}

.lightning {
    background-image: url(../image/lightning.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;

}

.nieve {
    background-image: url(../image/nieve.jpg);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 100vh;

}

.rain {
    background-image: url(../image/rain.jpg);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 100vh;

}

.refresh {
    background-image: url(../image/refresh.jpg);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 100vh;
    width: auto;

}

.bar {
    display: flex;
    align-items: center;
}